<h1>お問い合わせ</h1>
<% if @contact.errors.any? %>
  <%= @contact.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>
<%= form_with(model:@contact, url:contact_index_path, local:true) do |form| %>
  <p><%= form.label :name %>
  <%= form.text_field :name %></p>
  <p><%= form.label :email %>
  <%= form.email_field :email %></p>
  <p><%= form.label :content %>
  <%= form.text_area :content %></p>
  <%= form.submit %>
<% end %>
